<!DOCTYPE HTML>
<html>
<head>
    <title>Duy Tan University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Css/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Css/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Css/js/jquery-1.11.1.min.js"></script>
    <script src="~/Css/js/responsiveslides.min.js"></script>
    <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
    </script>
    <script type="text/javascript" src="~/Css/js/hover_pack.js"></script>
    <script src="~/Css/js/dropdown.min.js"></script>
    <link href="~/Css/css/dropdown.min.css" rel="stylesheet" />
    <script src="~/Css/js/transition.min.js"></script>
    <script src="~/Css/js/semantic.min.js"></script>
    <link href="~/Css/css/transition.min.css" rel="stylesheet" />
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="container">
                <div class="logo">
                    <a><img src="~/Css/images/ddt_logo.png" alt="" /></a>
                </div>
                <ul class="shopping_grid">
                    <a href="#"><li>My Account</li></a>
                    <a href="#"><li>Sign Out</li></a>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <div class="container">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="#" data-hover="Home">@Html.ActionLink("Home","Index","Home")</a></li>
                    <li><a href="#" data-hover="About Us">@Html.ActionLink("Graduation Thesis", "GraduationThesis","Thesis")</a></li>
                    <li><a href="#" data-hover="Careers">@Html.ActionLink("Topic", "Viewer", "Viewer")</a></li>
                </ul>
                <script type="text/javascript" src="~/Css/js/nav.js"></script>
            </div><!-- end h_menu4 -->
        </div>
    </div>


    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <img src="~/Css/images/duytan.jpg" class="img-responsive" alt="" />
                    <!-- <div class="banner_desc">
                      <h1>We Provide Worlds top fashion for less fashionpress.</h1>
                      <h2>FashionPress the name of the of hi class fashion Web FreePsd.</h2>
                    </div> -->
                </li>
                <li>
                    <img src="~/Css/images/totnghiep.png" class="img-responsive" alt="" />
                    <div class="banner_desc">
                        <!-- <h1>Duis autem vel eum iriure dolor in hendrerit.</h1>
                        <h2>Claritas est etiam processus dynamicus, qui sequitur .</h2> -->
                    </div>
                </li>
                <li>
                    <img src="~/Css/images/duytan.jpg" class="img-responsive" alt="" />
                    <!-- <div class="banner_desc">
                    <h1>Ut wisi enim ad minim veniam, quis nostrud.</h1>
                    <h2>Mirum est notare quam littera gothica, quam nunc putamus.</h2>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="content_top">
            <div class="container">
                <div class="col-md-3 sidebar_box">
                    <div class="sidebar">
                        <div class="menu_box">
                            <h3 class="menu_head">Catalog</h3>
                            <ul class="menu">
                                <li class="item1">
                                    <a href="#"><img class="arrow-img" src="~/Css/images/f_menu.png" alt="" />News & Annoucement</a>
                                    <ul class="cute">
                                        <li class="subitem1"><a href="#">@Html.ActionLink("News", "News", "Home")</a></li>
                                    </ul>
                                </li>
                                <li class="item2">
                                    <a href="#"><img class="arrow-img" src="~/Css/images/f_menu.png" alt="" />My Topic</a>
                                    <ul class="cute">
                                        <li class="subitem1"><a href="#">@Html.ActionLink("My Group", "MyGroup", "Thesis")</a></li>
                                        <li class="subitem2"><a href="#">@Html.ActionLink("My Progress", "MyProgress", "Thesis")</a></li>
                                    </ul>
                                </li>
                                <li class="subitem3">
                                    <a href="#"><img class="arrow-img" src="~/Css/images/f_menu.png" alt="" />Regulation</a>
                                    <ul class="cute">
                                        <li class="subitem1"><a href="#">@Html.ActionLink("Regulation", "Regulation", "Home")</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--initiate accordion-->
                        <script type="text/javascript">
      $(function() {
          var menu_ul = $('.menu > li > ul'),
                 menu_a  = $('.menu > li > a');
          menu_ul.hide();
          menu_a.click(function(e) {
              e.preventDefault();
              if(!$(this).hasClass('active')) {
                  menu_a.removeClass('active');
                  menu_ul.filter(':visible').slideUp('normal');
                  $(this).addClass('active').next().stop(true,true).slideDown('normal');
              } else {
                  $(this).removeClass('active');
                  $(this).next().stop(true,true).slideUp('normal');
              }
          });

      });
                        </script>
                    </div>
                </div>

                <div class="col-md-9 content_right">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bg">
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="#">Privacy Policy</a></li> .
                    <li><a href="#">Terms of Service</a></li> .
                    <li><a href="#">Creative Rights Policy</a></li> .
                    <li><a href="#">Contact Us</a></li> .
                    <li><a href="#">Support & FAQ</a></li>
                </ul>
            </div>
            <div class="copy">
                <p>Capstone 2017 by<a href="http://duytan.edu.vn/" target="_blank"> Twenty</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>
</html>
